header {
  width: 100%;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

.gnb {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.gnb li {
  margin-left: 30px;
}

.side_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side_nav {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 700;
}

.side_nav a {
  color: gray;
}

/* .side_nav li:not(.side_nav li:last-child) {
    padding: 0 15px;
    border-right: 2px solid #eee;
  } */

.side_nav li {
  padding: 0 15px;
  border-right: 2px solid #eee;
}

.side_nav li:nth-child(4) {
  border: 0;
}

.bar {
  font-size: 30px;
  margin-left: 20px;
}

/* 1440, 1280, 980 */

@media screen and (max-width: 1440px) {
  header {
    padding: 20px;
  }

  .gnb {
    font-size: 14px;
  }

  .side_nav {
    font-size: 12px;
  }
}

@media screen and (max-width: 1280px) {
  .gnb {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .side_nav {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    height: 30px;
  }

  .logo img {
    height: 100%;
  }
}
/* header end */
