@import url(./reset.css);
@import url(./common.css);

header {
  width: 100%;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

.gnb {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.gnb li {
  margin-left: 30px;
}

.side_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side_nav {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 700;
}

.side_nav a {
  color: gray;
}

/* .side_nav li:not(.side_nav li:last-child) {
  padding: 0 15px;
  border-right: 2px solid #eee;
} */

.side_nav li {
  padding: 0 15px;
  border-right: 2px solid #eee;
}

.side_nav li:nth-child(4) {
  border: 0;
}

.bar {
  font-size: 30px;
  margin-left: 20px;
}

/* header end */

.section_1 {
  height: 90vh;
  background: no-repeat
    url(https://www.daelimbath.com/upload/mainbanner/202208121159343042.jpg)
    center / cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title_wrap_1 {
  color: white;
  text-align: center;
}

.title_wrap_1 h4 {
  font-size: 20px;
}

.title_wrap_1 h3 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: -3px;
  margin: 30px 0 50px 0;
}

.title_wrap_1 p {
  font-size: 19px;
  line-height: 1.5em;
  opacity: 0.9;
}
/* section_1 end */
